body {
    background-image: url('https://media.istockphoto.com/id/182860026/photo/cardboard-box.jpg?s=1024x1024&w=is&k=20&c=T6vAy8Kt9CrtmWcImW-I8x64hwfTn7Fwz1CrOat1Gsk=');
    background-position: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

.blockquote-footer {
    font-style: italic;
    font-size: medium;
}
/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    backdrop-filter: blur(4px);
  }
  th, td {
    padding: 15px;
    text-align: left;
    vertical-align:middle
}
 */
