body {
    background-image: url('https://t3.ftcdn.net/jpg/03/08/98/10/360_F_308981084_lWG7OzfEvLnF9SO0oBwRlf6QFd29FVfr.jpg');
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed;
}



